@model M_Suite.Models.GeoLocation

@{
    ViewData["Title"] = "Delete";
}

@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}
<div class="profile-content">
        <div class="profile-header">
            <h2>GeoLocation Delete</h2>
        </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlCdIdGeo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlCdIdGeo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlGlId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlGlId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlDescriptionLan1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlDescriptionLan1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlDescriptionLan2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlDescriptionLan2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GlDescriptionLan3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GlDescriptionLan3)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="GlId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
