@model M_Suite.Models.User

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>User</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsThpId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsThpId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCdIdGen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCdIdGen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCdIdTtl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCdIdTtl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsFirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsFirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsLastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsLastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsShortName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsShortName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsLogin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsLogin)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsPassword)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsPassword)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsReceiveNotification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsReceiveNotification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsExpiryDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsExpiryDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsDbUser)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsDbUser)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsImported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsImported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsReadonly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsReadonly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsToken)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsToken)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsRoute)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsRoute)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsPrefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsPrefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UsUs)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UsUs.UsId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.UsId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
