@model M_Suite.Models.User
@{
    ViewData["Title"] = "Details";
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}
<div class="profile-content">
    <div class="profile-header">
        <h2>User Details</h2>
    </div>

    <div class="profile-details">
        <div class="security-profile">
            <dl class="row">
                @* <dt class="col-sm-3">@Html.DisplayNameFor(model => model.UsThpId)</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsThpId)</dd> *@

                @* <dt class="col-sm-3">User Code Identifier</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsCdIdGen)</dd> *@

                @* <dt class="col-sm-3">Title Code</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsCdIdTtl)</dd> *@

                <dt class="col-sm-3">User Code</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsCode)</dd>

                <dt class="col-sm-3">First Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsFirstName)</dd>

                <dt class="col-sm-3">Last Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsLastName)</dd>

                <dt class="col-sm-3">Short Name</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsShortName)</dd>

                <dt class="col-sm-3">Username</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsLogin)</dd>

                <dt class="col-sm-3">Email</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsEmail)</dd>

                <dt class="col-sm-3">Password</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsPassword)</dd>
                <dt class="col-sm-3">Receive Notifications</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsReceiveNotification)</dd>

                <dt class="col-sm-3">Expiry Date</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsExpiryDate)</dd>

                <dt class="col-sm-3">Account Active</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsActive)</dd>

                @* <dt class="col-sm-3">Account Deleted</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsDeleted)</dd> *@

                @* <dt class="col-sm-3">Database User</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsDbUser)</dd> *@

                @* <dt class="col-sm-3">Imported User</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsImported)</dd> *@

                <dt class="col-sm-3">Readonly Access</dt>
                <dd class="col-sm-9">@Html.DisplayFor(model => model.UsReadonly)</dd>

                @* <dt class="col-sm-3">User Token</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsToken)</dd> *@

                @* <dt class="col-sm-3">User Route</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsRoute)</dd> *@

                @* <dt class="col-sm-3">Prefix</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsPrefix)</dd> *@

                @* <dt class="col-sm-3">User Type</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsType)</dd> *@

                @* <dt class="col-sm-3">User ID</dt> *@
                @* <dd class="col-sm-9">@Html.DisplayFor(model => model.UsUs.UsId)</dd> *@
            </dl>
        </div>

    
    </div>

    <div>
        <a asp-action="Edit" asp-route-id="@Model?.UsId" class="btn btn-primary">Edit</a>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</div>
