@model M_Suite.Models.Thirdparty

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Thirdparty</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpOrgId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpOrgId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpCdIdTpg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpCdIdTpg)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpCdIdTps)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpCdIdTps)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpNameLan1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpNameLan1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpNameLan2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpNameLan2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpNameLan3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpNameLan3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpIsCustomer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpIsCustomer)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpIsSupplier)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpIsSupplier)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpIsCompany)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpIsCompany)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpCreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpCreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpModifiedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpModifiedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpActive)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpActive)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpImpUid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpImpUid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpRemarks)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpRemarks)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpImported)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpImported)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpReadonly)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpReadonly)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpUsIdCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpUsIdCreated)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpNewcode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpNewcode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpPrintLang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpPrintLang)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpPrintarabic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpPrintarabic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ThpIsB2b)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ThpIsB2b)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ThpId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
