@model M_Suite.Models.BusinessUnit

@{
    ViewData["Title"] = "Delete";
}
@section Styles {
    <link rel="stylesheet" href="~/css/site.css" />
}
<div class="profile-content">
        <div class="profile-header">
            <h2>BU Delete</h2>
        </div>
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuDescriptionLan1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuDescriptionLan1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuDescriptionLan2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuDescriptionLan2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuDescriptionLan3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuDescriptionLan3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuPath)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuPath)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuImpUid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuImpUid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuLeId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuLeId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuOuId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuOuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuOrgCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuOrgCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuPrefix)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuPrefix)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuBu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuBu.BuId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BuCp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BuCp.CpId)
        </dd>
    </dl>
    
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="BuId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
</div>
